
    .card-registration .select-input.form-control[readonly]:not([disabled]) {
    font-size: 1rem;
    line-height: 2.15;
    /* padding-left: .5em;
    padding-right: .5em; */
    }
    .card-registration .select-arrow {
    top: 13px;
    }
    .select-form{
        width: 400px;
    }
.col-md-6 {
    flex: 0 0 auto;
    width: 27%;
}

.width-200{
    width: 200px;
    height:30px;

}
.height-30px{
    height:30px;
}
.bordar-radious-10{
    border-radius: 10px;
}
.images{
    width: 50px;
    height: 50px;border-radius: 20px;
}
.switch-button{
    width: 400px;
}

.h-btn a:hover{
    background-color: green;
    color: white;
}
.h-btn{
    width: 200px;
}
.Contact-input{
    width: 200px;
}
.resion-input{
    width:100%;
    height: 60px;
    border-radius: 3px;
}
.sw-btn
{
    width: 80px;
}
body {
    background-color: #fbfbfb;
  }
  @media (min-width: 991.98px) {
    main {
      padding-left: 240px;
    }
  }
  
  /* Sidebar */
  .sidebar {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    padding: 58px 0 0; /* Height of navbar */
    box-shadow: 0 2px 5px 0 rgb(0 0 0 / 5%), 0 2px 10px 0 rgb(0 0 0 / 5%);
    width: 240px;
    z-index: 600;
  }
  
  @media (max-width: 991.98px) {
    /* .sidebar {
      width: 100%;
    } */
  }
  .sidebar .active {
    border-radius: 5px;
    box-shadow: 0 2px 5px 0 rgb(0 0 0 / 16%), 0 2px 10px 0 rgb(0 0 0 / 12%);
  }
  
  .sidebar-sticky {
    position: relative;
    top: 0;
    height: calc(100vh - 48px);
    padding-top: 0.5rem;
    overflow-x: hidden;
    overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
  }